*.hdf5
*.xml
SSSP
*.pwi
*.pwo
*.save
pseudopots/*
*.gpw
*.hdf5
*.xml
*.log
NC_SR/*
*.txt
*.err
critic2/*
VASP/Ameer_res/*
*.zip
.cube
*.png
*.pdf
*_wfc*
wfc*.hdf5
*.wfc
*.pdos_tot
*nscf.out
*.md
*.cube
